{:deps {http-kit/http-kit {:mvn/version "2.9.0-beta3"}
        com.taoensso/carmine {:mvn/version "3.5.0"}
        ring/ring-core {:mvn/version "1.15.3"}
        ring/ring-headers {:mvn/version "0.4.0"}
        commons-validator/commons-validator {:mvn/version "1.10.1"}
        org.danielsz/jvm-utils {:mvn/version "0.1.2"}
        ch.qos.logback/logback-classic {:mvn/version "1.5.32"}
        org.clojure/tools.logging {:mvn/version "1.3.1"}
        metosin/reitit {:mvn/version "0.10.0"}
        org.danielsz/system {:mvn/version "0.5.7-SNAPSHOT"}
        nrepl/nrepl {:mvn/version "1.6.0"}
        ring/ring-defaults #:mvn{:version "0.7.0"}
        metosin/muuntaja #:mvn{:version "0.6.11"}
        com.maxmind.db/maxmind-db #:mvn{:version "4.0.2"}}
 :aliases {:repl {:extra-deps {cider/cider-nrepl {:mvn/version "0.58.0"}                               
                               org.meyvn/nrepl-middleware {:mvn/version "1.4.0"}}}}}
