{:pom {:group-id "org.danielsz",
       :artifact-id "url-shortener",
       :version "1.0.8",
       :name "url-shortener"},
 :packaging {:uberjar {:graalvm {:enabled false,
                                 :with-https false,
                                 :bin-name ""},
                       :include-source false,
                       :excludes {:artifacts ["org.clojure:google-closure-library"],
                                  :filters ["META-INF/*.MF"
                                            "META-INF/*.SF"
                                            "META-INF/*.DSA"
                                            "META-INF/*.RSA"]},
                       :appimage {:enabled false,
                                  :source "jpackage-target"},
                       :obfuscation {:enabled false},
                       :build-properties {:main-class "url_shortener.core",
                                          :javafx-class "main.core.App"
                                          :project-build-sourceEncoding "UTF-8"},
                       :enabled true},
             :jar {:enabled false}},
 :testing {:enabled false, :tools-deps-alias :test},
 :scm {:enabled false},
 :interactive {:system {:enabled true,
                        :var "url-shortener.system/base",
                        :restart-on-change ["core.clj" "system.clj" "handler.clj" "shortener.clj"]},
               :proxy {:enabled false,
                       :socks {:host "127.0.0.1",
                               :port "1080",
                               :version "5",
                               :use-system-proxies false}},
               :tools-deps-alias :repl,
               :repl-host "127.0.0.1",
               :reload-on-save true,
               :repl-port :auto,
               :enabled true,},
 :distribution-management {:id "ssh-repository"
                           :url "scpexe://danielsz@dan.tuppu.net:/home/danielsz/.m2/repository"}
 :profiles {:enabled true
            :development {:shorten-endpoint "http://localhost:8080/"
                          :http-port "8088"}
            :production {:shorten-endpoint "https://tuppu.net/"
                         :http-port "8080"}}}
